.App {
  display: flex;
}

.side-header {
  height: 100%;
  background-color: white;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.profile-pic {
  width: 5%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
