@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
  --bg-color: white;
  --main-orange: #ED7839;
  --secondary-orange: #FDF1EB;
  --orange-gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --links-text-color: #725C5C;
  --footer-btn-color: #71488E;
  --quicksand-font: 'Quicksand', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
}

body {
  background: var(--bg-color);
  margin: 0;
}

@media (max-width: 1000px) {
  .main {
    position: absolute;
    top: 100px;
    width: 100%;
  }

  .first-sec {
    font-family: var(--roboto-font);
    color: var(--main-orange);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .first-sec-btn {
    background: var(--main-orange);
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--roboto-font);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
  }

  .p-title {
    font-weight: 900;
    font-size: 20px;
  }

  .title-and-video {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 50px;
  }

  .video {
    width: 80%;
  }

  .btns-and-details {
    display: flex;
    width: 90%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .main {
    position: absolute;
    right: 0;
    top: 100px;
    width: 80%;
  }

  .first-sec {
    margin-top: 50px;
    font-family: var(--roboto-font);
    color: var(--main-orange);
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .first-sec-btn {
    background: var(--main-orange);
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--roboto-font);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
  }

  .video {
    width: 80%;
  }

  .p-title {
    font-weight: 900;
    font-size: 20px;
  }

  .title-and-video {
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .btns-and-details {
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
}