@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
  --bg-color: white;
  --main-orange: #ED7839;
  --secondary-orange: #FDF1EB;
  --orange-gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --links-text-color: #725C5C;
  --footer-btn-color: #71488E;
  --quicksand-font: 'Quicksand', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --thin-border: 1px solid rgb(180, 180, 180, 0.4);
  --title-color: #4E4E4E;
  --author-background: #d1d1d1;
  --end-link-color: #F48F44;
}

@media (max-width: 1000px) {
  .disc-card {
    display: flex;
    justify-content: center;
  }

  .discussion {
    width: 90%;
    border: var(--thin-border);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .discussion-title {
    margin: 0;
    padding: 20px;
    font-family: var(--roboto-font);
    font-weight: 500;
    font-size: 20px;
    color: var(--title-color);
    background: var(--secondary-orange);
  }

  .discussion-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .discussion-header {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .header-share {
    font-family: var(--roboto-font);
    color: var(--main-orange);
    font-weight: 700;
    font-size: 18px;
  }

  .header-text {
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
  }

  .create-btn {
    font-family: var(--quicksand-font);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: none;
    background: var(--orange-gradient);
    padding: 10px 20px;
  }

  .create-mode {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
  }

  .text-input {
    background: white;
    border: var(--thin-border);
    padding: 20px;
    width: 100%;
  }

  .text-input:placeholder-shown {
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
  }

  .area-input {
    background: white;
    border: var(--thin-border);
    padding: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 20px;
  }

  .form-header {
    font-family: var(--quicksand-font);
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: var(--title-color);
  }

  .form-label {
    text-align: left;
    font-family: var(--roboto-font);
    font-weight: 700;
    font-size: 16px;
    width: 92%;
    color: var(--main-orange);
  }

  .form-btn {
    color: white;
    background: var(--orange-gradient);
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    font-family: var(--quicksand-font);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .end-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .end-title {
    font-weight: 700;
    font-size: 18px;
    font-family: var(--roboto-font);
    color: var(--main-orange);
  }

  .end-msg {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--quicksand-font);
    color: var(--title-color);
  }

  .end-link {
    font-weight: 500;
    font-size: 14px;
    font-family: var(--quicksand-font);
    text-decoration-line: underline;
    color: var(--end-link-color);
  }

  .new-btn {
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 15px;
    font-family: var(--quicksand-font);
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    background: var(--orange-gradient);
  }

  .feedback-card {
    width: 70%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .feedback-msg {
    font-family: var(--quicksand-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .discussion {
    width: 80%;
    border: var(--thin-border);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .discussion-title {
    margin: 0;
    padding: 20px;
    font-family: var(--roboto-font);
    font-weight: 500;
    font-size: 20px;
    color: var(--title-color);
    background: var(--secondary-orange);
  }

  .discussion-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .discussion-header {
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .header-share {
    font-family: var(--roboto-font);
    color: var(--main-orange);
    font-weight: 700;
    font-size: 18px;
  }

  .header-text {
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
  }

  .create-btn {
    font-family: var(--quicksand-font);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: none;
    background: var(--orange-gradient);
    padding: 10px 20px;
  }

  .create-mode {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
  }

  .text-input {
    background: white;
    border: var(--thin-border);
    padding: 20px;
    width: 100%;
  }

  .text-input:placeholder-shown {
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
  }

  .area-input {
    background: white;
    border: var(--thin-border);
    padding: 20px;
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 20px;
  }

  .form-header {
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
  }

  .form-label {
    text-align: left;
    font-family: var(--roboto-font);
    font-weight: 700;
    font-size: 16px;
    width: 92%;
    color: var(--main-orange);
  }

  .form-btn {
    color: white;
    background: var(--orange-gradient);
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    font-family: var(--quicksand-font);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .end-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .end-title {
    font-weight: 700;
    font-size: 18px;
    font-family: var(--roboto-font);
    color: var(--main-orange);
  }

  .end-msg {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--quicksand-font);
    color: var(--title-color);
  }

  .end-link {
    font-weight: 500;
    font-size: 14px;
    font-family: var(--quicksand-font);
    text-decoration-line: underline;
    color: var(--end-link-color);
  }

  .new-btn {
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 15px;
    font-family: var(--quicksand-font);
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    background: var(--orange-gradient);
  }

  .feedback-card {
    width: 70%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .feedback-msg {
    font-family: var(--quicksand-font);
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
  }
}