@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
  --bg-color: white;
  --main-orange: #ED7839;
  --secondary-orange: #FDF1EB;
  --orange-gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --links-text-color: #725C5C;
  --footer-btn-color: #71488E;
  --quicksand-font: 'Quicksand', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
}

@media (max-width: 1000px) {
  .footer {
    font-family: var(--quicksand-font);
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: center;
    bottom: 0px;
    right: 0;
    border-top: 1px solid rgb(165, 165, 165, 0.5);
    text-align: center;
  }

  .galoaLogo {
    transform: scale(.7);
  }

  .img-with-btn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .footer-btn {
    padding: 10px 60px;
    font-family: var(--quicksand-font); 
    background-color: var(--footer-btn-color);
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

}

@media (min-width: 1000px) {
  .footer {
    font-family: var(--quicksand-font);
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    bottom: 0px;
    right: 0;
    width: 75%;
    border-top: 1px solid rgb(165, 165, 165, 0.5);
    margin: 5px 40px 40px 0px;
  }

  .galoaLogo {
    transform: scale(.7);
  }
  
  .img-with-btn {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 50px;
  }
  
  .footer-btn {
    padding: 10px 60px;
    font-family: var(--quicksand-font); 
    background-color: var(--footer-btn-color);
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }

}

