@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
  --bg-color: white;
  --main-orange: #ED7839;
  --secondary-orange: #FDF1EB;
  --orange-gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --links-text-color: #725C5C;
  --footer-btn-color: #71488E;
  --quicksand-font: 'Quicksand', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
}

@media (min-width: 1000px) {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background: var(--secondary-orange);
    height: 90px;
  }

  .profile-pic {
    width: 30px;
    border-radius: 100%;
  }
}
