@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
  --bg-color: white;
  --main-orange: #ED7839;
  --secondary-orange: #FDF1EB;
  --orange-gradient: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
  --links-text-color: #725C5C;
  --footer-btn-color: #71488E;
  --quicksand-font: 'Quicksand', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --thin-border: 1px solid rgb(180, 180, 180, 0.4);
  --title-color: #4E4E4E;
  --author-background: #d1d1d1;
}

@media (min-width: 1000px) {
  .question-card {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border: var(--thin-border);
    border-radius: 5px;
    padding: 20px;
    width: 70%;
    margin-bottom: 20px;
  }

  .question-subject {
    color: var(--main-orange);
    font-family: var(--quicksand-font);
    font-weight: 700;
    font-size: 16px;
  }

  .question-author {
    color: #5C5C5C;
    font-family: var(--quicksand-font);
    font-weight: 500;
    font-size: 12px;
  }

  .question-overview {
    color: #4D4D4D;
    font-family: var(--quicksand-font);
    font-weight: 400;
    font-size: 14px;
  }

  .lower-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .answer {
    cursor: pointer;
  }

  .like-and-answer {
    font-weight: 400;
    font-size: 14px;
    color: #757575;
  }

  .dots {
    align-self: flex-start;
    margin: 0;
    line-height: 6px;
    font-size: xx-large;
    color: var(--main-orange);
  }

  .heart-btn {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    width: 20px;
    padding: 5px 10px;
    background: var(--main-orange);
    border-radius: 5px;
    cursor: pointer;
  }

  .lower-item {
    margin-right: 10px;
  }

  .question-answer {
    margin-top: 50px;
  }

  .author-or-coauthor {
    background: var(--author-background);
    width: 100%;
  }

  .hidden-answers {
    display: none;
  }

  .show-answers {
    visibility: visible;
  }

  .answer-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .author {
    margin-right: 30px;
    font-family: var(--quicksand-font);
    color: var(--main-orange);
    font-weight: 700;
    font-size: 14px;
  }
}
